<!DOCTYPE html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Chat{% endblock %}</title>
         <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
<body>
<h1 align="center">Chat</h1>
	<div  class="panel panel-default">
		<div  class="panel-body">

			{% for obj in convo  %}
				{% if obj.sender == request.user %}
					<li class='text-right list-group-item'><small style="color:grey">~{{ obj.sender }} </small><br><span style="font-size:25px">{{ obj.text }}</span><br><small style="color:grey">{{ obj.created_date }}</small></li>

				{% else %}
					<li class='text-left list-group-item'><small style="color:grey">~{{ obj.sender }} </small><br><span style="font-size:25px">{{ obj.text }}</span><br><small style="color:grey">{{ obj.created_date }} </small></li>
				{% endif %}
				{% empty %}
					<li class='text-right list-group-item'>No messages yet!</li>
			{% endfor %}
		</div>
	</div>
	<form action="{% url 'message' %}?name={{receiver.username}}" method="POST" class="post-form">{% csrf_token %}
		<input type="text" name="message" style="width: 90%;padding: 0.5em"  value="{{message}}">
		<input type="hidden" name="receiver" value="{{receiver.username}}">
		<button type="submit" class="save btn btn-default" value="submit"/>Send</button>
	</form>
</body>
</html>